/* адаптив главная */

@media (max-width:1440px) {
    
    .research__header{
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .research__form{
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .form-group{
        width: 70%;
    }
    .form-section__description{
        max-width: 455px;
    }
}

@media (max-width: 1190px) {
    .form__group {
        min-width: 725px;
    }
    .form__group--flex{
        flex-direction: column;
    }
}

@media (max-width: 1100px) {
    .form__group {
        min-width: 625px;
    }
    .form__header{

    }
}

@media (max-width: 1024px) {
    .container{
        max-width: 976px;
    }
    .research__form {
        max-width: 85%;
    }
    .button-next--disabled{
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

}


@media (max-width: 590px) {
    .research__form__start .form__input {
        min-width: 250px;
    }
}




@media (max-width: 426px) {
    body{
        background-image: url('../img/promo-img.png');
        background-repeat: no-repeat;
        background-size: 422px 356px;
        background-position-x: 150px;
        background-position-y: 80px;
    }
    .container{
        max-width: 365px;
        margin-left: auto;
        margin-right: auto;
    }
    .total-price{
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .total-price__text {
        min-width: 425px;
    }
    
}

@media (max-width: 350px) {
    .research__form__start .form__input {
        min-width: 200px;
    }
}

/* адаптив research */

@media (max-width: 1024px) {
    .research{
        padding-bottom: 100px;
    }
    .research__header {
        margin-top: 121px;
        margin-bottom: 100px;
    }
    .research__text .section-title {
        font-size: 68px;
    }
    .research__text .section-title:first-child{
        margin-bottom: 7px;
    }
    .research__section:first-child {
        padding-bottom: 100px;
    }
    .research__section{
        flex-direction: column;
        padding-top: 0;
    }
    .form-section__description{
        margin-bottom: 50px;
    }
    .form__group, .form__body {
        max-width: 609px;
        min-width: 1px;
        width: 100%;
    }
    .form__group--flex {
        flex-direction: column;
    }
    .total-price{
        margin-left: 0;
    }
    .research__form__finish .form__group {
        max-width: 699px;
    }
    .research__form__finish .form__header{
        justify-content: space-between;
    }
    .research__form__finish .form__body{
        max-width: 699px;
    }
    .research__form__finish .form__input{
        min-width: 348px;
    }
    .research__form__finish .form__group-line:last-child{
        margin-right: 0;
    }
    .button-next{
        margin-left: 0;
    }
    
}

@media (max-width: 768px) {
    .research__text .section-title {
        font-size: 40px;
    }
    .research__form__start .form__group{
        max-width: 348px;
    }
    .research__form__start .form__body{
        max-width: 348px;
    }
    .research__form__start .select__inline-caption{
        max-width: 218px;
    }
    .research__form__finish .form__input {
        max-width: 348px;
    }
    .research__form__finish .form__group__checkbox{
        max-width: 343px;
    }
    

}

@media (max-width: 720px){
    .research__form__finish .form__header{
        flex-direction: column;
    }
    .research__form__finish .form__header__group{
        margin-bottom: 50px;
    }
}

@media (max-width: 426px) {
    .research__header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .research__text{
        margin-bottom: 20px;
    }
    .total-price{
        flex-direction: column;
    }
    /* .total-price__text{
        min-width: 354px
    } */
    .total-price__caption{
        margin-bottom: 60px;
    }
    .research__form__finish .form__header{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .total-price__group{
        max-width: 354px;
        margin-left: auto;
        margin-right: auto;
    }
    .total-price__text{
        flex-direction: column;
        display: flex;
        min-width: 1px;
    }
    .research__form__finish .form__input {
        min-width: 290px;
    }
}