.conscription{
    padding-top: 100px;
    padding-bottom: 100px;
}

.conscription__link{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 875px;
    text-decoration: none;
}

.conscription__text{
    display: flex;
    flex-direction: column;
    
}

.conscription__title{
    font-size: 96px;
    line-height: 0.92;
    text-transform: uppercase;
}

.conscription__title:first-child{
    margin-bottom: 9px;
    font-weight: normal;
}

.conscription__title:last-child{
    font-weight: bold;
    font-style: italic;
}

.conscription__icon{
    min-width: 44px;
    min-height: 44px;
    border: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

