.footer{
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: column;
}

.footer.container{
    width: 100%;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.footer__content--tablet{
    display: none;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 650px;
}

.footer__info-group{
    display: flex;
    flex-direction: column;
    margin-right: 58px;
    min-height: 116px;
    min-width: 180px;
}

.footer__info-group:last-child{
    margin-right: 0;
}

.footer__info-title{
    margin-bottom: 16px;
    font-weight: bold;
}

.footer__info-link{
    color: var(--color-text);
    text-decoration: none;
}

.footer__info-group:last-child .footer__info-link{
    text-decoration: underline;
}

.footer__actions{
    display: flex;
    justify-content: space-between;
    align-items: start;
    min-height: 116px;
    height: 100%;
}

.footer__socials{
    margin-right: 180px;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__socials-title{
    margin-bottom: 13px;
    font-weight: bold;
}

.footer__socials-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60px;
}

.footer__select-language{
    padding: 16px 32px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../img/arrow-down-triangle.svg');
    min-width: 200px;
    background-repeat: no-repeat;
    background-position: right 30px center;
    background-color: transparent;
    border-radius: 30px;
    border-color: var(--color-text);
    font-size: 20px;
    font-weight: bold;
    color: var(--color-text);
}


.footer__option-language{
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 10px 15px;
}

/* footer content tablet */
.footer__content--tablet{
    display: none;
}

.footer__content-left{
    max-width: 180px;
    margin-right: 168px;
}

.footer__content-right{
    max-width: 348px;
}

.footer__content--tablet .footer__info-group{
    max-width: 180px;
    margin-bottom: 50px;
}



