.header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 40px;
    position: relative;
}

.header .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__nav-top{
    display: flex;
    align-items: center;
}

.header__nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo{
    margin-top: 0;
    margin-bottom: auto;
}

.header__nav{
    display: flex;
    align-items: center;
    margin-right: 206px;
}

.header__nav-link{
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
}

.header__nav-link:last-child{
    margin-right: 0;
}

.header__group-buttons{
    display: flex;
    align-items: center;
}

.header__button{
    border: 1px solid var(--color-text);
    display: block;
    text-decoration: none;
}

.header__button:first-child{
    padding: 12px 25px;
    font-size: 16px;
    color: var(--color-text);
    font-size: 16px;
    font-weight: bold;
    border-radius: 113px;
}

.header__button:last-child{
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin-left: 40px;
    padding: 10px 12px;
}

/* burger menu */
.header__burger-button{
    width: 28px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    display: none;
}

.header__burger-line{
    width: 28px;
    height: 2px;
    background-color: var(--color-text);
    border-radius: 1px;
}

.header__nav-bottom{
    display: none;
}

.header__nav-bottom--active{
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    left: 0;
    top: 90px;
    background-color: var(--color-background);
}

.body--fixed{
    position: fixed;
    width: 100vw;
}

.header__nav-bottom .header__nav{
    flex-direction: column;
    margin-right: 0;
    padding-top: 80px;
}

.header__nav-bottom .header__nav-link{
    margin-right: 0;
    margin-bottom: 50px;
    font-size: 20px;
}

.header__nav-bottom .header__button-user{
    margin-left: auto;
    margin-right: auto;
}

.header__nav-bottom .header__group-buttons{
    display: none;
}

/* not use */
.header__button-user{
    display: none;
}



/* адаптив */

@media (max-width: 1410px) {
    .header .container{
        width: 95%;
    }
    .header__nav{
        margin-right: 120px;
    }
}

@media (max-width: 1050px){
    .header__nav{
        margin-right: 75px;
    }
    
}


@media (max-width: 1024px) {
    .header__nav-container{
        align-items: flex-end;
    }

    .header__logo-img{
        max-width: 132px;
        max-height: 40px;
    }

    .header__nav-top .header__nav{
        display: none;
    }

    .header__nav-top .header__button-user{
        display: none;
    }

    .header__burger-button{
        display: flex;
    }
    /* header */
    .header__nav {
        margin-right: 50px;
    }
}

@media (max-width: 744px) {
    .header .container {
        width: 100%;
        max-width: 696px;
    }
}



@media (max-width: 600px){
    .header__burger-button{
        margin-left: 25px;
    }
}


@media (max-width: 450px) {
    .header__nav-top .header__group-buttons{
        display: none;
    }
    .header__nav-top{
        min-height: 44px;
    }
    .header__nav-bottom .header__nav{
        padding-top: 65px;
    }

    .header__nav-bottom--active .header__group-buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .header__nav-bottom .header__nav-link{
        margin-bottom: 50px;
    }
    .header__nav-bottom  .header__button{
        max-width: 215px;
        margin-bottom: 50px;
    }
}

@media (max-width: 426px) {
    .header__container{
        margin-left: auto;
        margin-right: auto;
    }
    .header{
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .header .container{
        align-items: center;
    }

    .header__nav-container{
        height: 100%;
    }
}

@media (max-width: 376px) {
    .header__logo {
        margin-top: 0;
        width: 132px;
        height: 40px;
        margin-bottom: 0;
    }
}